@charset "UTF-8";
/* CSS Document */

body {
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
header {
  font-size: 125%;
  font-family: 'Shadows+Into+Light+Two', cursive;
  background-color: #eeeeee;
  margin: 10px;
  padding: 10px;
}
main {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
footer {
  font-size: 125%;
  font-family: 'Shadows+Into+Light+Two', cursive;
  background-color: #eeeeee;
  margin: 10px;
  padding: 10px;
}

.container {
  width: 90%;
  margin-left:auto;
  margin-right: auto;
}

div {
  border: 6px solid;
  border-color: #BADA55;
  margin: 10px;
  padding: 10px;
}

div img {
  max-width: 200px;
}
